<div class="center-container">
  <div style="width:25%;float:left;height:100%;">
    <div class="my-account-header">
      Custom Vests Design
    </div>
    <div class="my-account-username">
      Men's Formal
    </div>
  </div>
  <div class="new-breadcrumbs-container">
    <ul class="new-breadcrumbs">
      <li class="first-step" ng-click="changeDesignTabs(true, false, false, false)" ng-class="{'active':styles_active}">DESIGN</li>
      <li class="middle-divider">------</li>
      <li class="second-step" ng-click="changeDesignTabs(false, true, false, false)" ng-class="{'active':fabrics_active}">FABRIC</li>
      <li class="middle-divider">------</li>
      <li class="third-step" ng-click="changeDesignTabs(false, false, true, false)" ng-class="{'active':measurements_active}">BAG</li>
      <li class="middle-divider">------</li>
      <li class="fourth-step" ng-click="changeDesignTabs(false, false, false, true)" ng-class="{'active':checkout_active}">PAYMENT</li>
    </ul>
  </div>
  <div class="new-sidebuttons">
    <div class="secure-label">
      <div style="float:left;padding:0 5px;"><i class="material-icons" style="font-size:17px; ">lock</i></div>
      <div style="float:left;">100% SECURE</div>
    </div>
  </div>
</div>
