<div class="center-container">
  <div class="faq-header">
    <div class="faq-contact">
      <span style="font-weight:600;font-size:12px;color:#444546;">Need any Help?</span>
      <div class="faq-buttons">Contact us</div>
    </div>
    <span style="font-weight:600;font-size:21px;line-height:40px;">Shipping Policy</span>
  </div>
  <div style="width:100%;margin-top:10px;padding:0 20px;">
    <div style="width:70%;float:left;padding:15px 35px;">
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">WE OFFER FREE SHIPPING ANYWHERE IN INDIA</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">
          Please allow 2-3 weeks for your order to be Design, Manufacture and dispatched and it will take
          about 1-2 additional week for it to reach you depending on your proximity to our dispatch location.
          Normally for orders placed before 12:00 PM on a business day, we aim to start processing it the
          same day, provided that the card security checks are complete, payment is received and the stock
          availability is confirmed. Orders placed after 12:00 PM will be start process-flow the next business
          day. Orders Stitched on Sunday or during Holidays are dispatched the following Monday or the next
          working day. During busy times, such as holiday periods, there can be processing and shipping
          delays. The orders cannot be shipped to PO boxes or military addresses, and rural domestic
          addresses require one or more additional days to deliver. Orders requiring engraving or any
          customization will require additional time and will be shipped in additional 3 -5 working days. If in
          any case you receive a package which is damaged during transit then please do not accept it. You
          can return the same and contact us asking for another piece. Please follow the same in case you've
          received an incorrect product and we would appreciate it if you wouldn't open the packaging. We
          will try our level best to send you a replacement as soon as possible. In case of custom made
          products and garments we would re-stitch or re-size the product as per your request for free of cost
          for the one time.</span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">WE OFFER INTERNATIONAL SHIPPING</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">
        For international shipping it may take another 1-2 weeks depending upon the Currier Services and
        charges applicable accordingly.<br/>
        For further query, please write-us at hi@zigfo.com<br/>
        Or for any other query write-us at info@zigfo.com<br/>
        </span>
      </div>
    </div>
      <div style="width:30%;float:right;padding-top:50px;">
        <div style="width:100%;height:25px;font-size:14px;color:#444546;font-weight:600;padding-left:15px;">Useful Links</div>
        <div style="width:100%;min-height:40px;color:#444546;border-left:1px solid #ccc;">
          <ul class="links-list">
            <li class="links-list active">FAQ's</li>
            <li class="links-list">My Orders</li>
            <li class="links-list">About Us</li>
            <li class="links-list">Privacy Policy</li>
            <li class="links-list">T&C</li>
            <li class="links-list">Return, Refund & Cancellation Policy</li>
            <li class="links-list">Shipping Policy</li>
            <li class="links-list">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
