<!-- Book a Pickup
<h3>Enter a location:</h3>
<input type="text" gm-places-autocomplete ng-model="autocomplete" style="width: 300px;"/>
<h3>Results:</h3>
<ul>
  <li>Lat: {{ marker.coords.latitude }}</li>
  <li>Lng: {{ marker.coords.longitude }}</li>
</ul>
<ui-gmap-google-map center="center" zoom="zoom" control="control">
  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
</ui-gmap-google-map>
<div id="map" style="height:300px;"></div> -->
<div class="center-container">
  <div style="width:25%;float:left;height:100%;">
    <div class="my-account-header">
      Custom Shirt Design
    </div>
    <div class="my-account-username">
      Men's Formal
    </div>
  </div>
</div>
<div class="ui small modal appointments">
  <div style="width:100%;height:120px;background-color:#2874f0;">
    <div style="width:100%;height:80%;padding:25px 15px;">
      <div style="font-size:22px;color:#fff;line-height:50px;font-weight:400;">
        Book Appoinment
      </div>
      <div style="font-size:15px;color:#fff;line-height:23px;font-weight:400;">
        Personal Pilot at the comfort of your Home
      </div>
      <div style="padding:50px 10px;font-size:12px;color:#fff;font-weight:400;line-height:18px;">
        Fabric Pick-Up | Home Measurement Pick-Up | Book online or Call us at 99998 99998
      </div>
    </div>
  </div>
  <div style="width:100%;height:400px;float:left;padding:50px;">
  </div>
</div>
