<div class="center-container">
  <div class="faq-header">
    <div class="faq-contact">
      <span style="font-weight:600;font-size:12px;color:#444546;">Need any Help?</span>
      <div class="faq-buttons">Contact us</div>
    </div>
    <span style="font-weight:600;font-size:21px;line-height:40px;">Report Infringement and Take Down Policy</span>
  </div>
  <div style="width:100%;margin-top:10px;padding:0 20px;">
    <div style="width:70%;float:left;padding:15px 35px;">
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">Report Infringement</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">ZIGFO is committed to removing infringing products from the site. To facilitate this, ZIGFO has put in place a
        ZIGFO Infringement Verification process so that intellectual property owners could easily report listings that
        infringe their rights. It is in ZIGFO's interest to ensure that infringing products are removed from the site, as
        they erode Buyer and Seller trust.</span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">Policy</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">ZIGFO respects third party Intellectual Property rights and actively supports protection of all third party
          Intellectual Property including Copyrights and Trademarks (“IP”). It is our policy to expeditiously respond to
          clear notices of alleged IP infringement.
          If we receive proper notification of IP infringement, our response to such notices will include removing or
          disabling access to material claimed to be the subject of infringing activity. For a detailed term of use of our
          website, please visit ZIGFO terms & condition page on website https://www.zigfo.com .</span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">How to report a listing</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">If you have a good faith belief that your IP right has been infringed by any of our product listed or sellers, you
        may follow the below process: We require that the Intellectual Property right owner or authorized agent
        provide the following details and email it to info@zigfo.com and infringement@zigfo.com . The email should
        contain the below information.
        <li>Identification or description of the copyrighted work / trademark that has been infringed.</li>
        <li>Clear identification or description of where the material that you claim is infringing is located on
        www.zigfo.com with adequate particulars. Product ID / website links of infringing products (in case of
        copyright infringement)
        (Note: ZIGFO is unable to process requests which do not specify exact product IDs or URLs. Please do not
        provide links to browse pages or links of search queries as these pages are dynamic and their contents change
        with time).</li>
        <li>Your address, telephone number, and email address.</li>
        <li>A statement by you that you have a good faith belief that the use of the material complained of is not
        authorized by the copyright or intellectual property owner, its agent, or the law.</li>
        <li>A statement by you, that the information in your notice is accurate and that you are the copyright or
        intellectual property owner or authorized to act on the copyright or intellectual property owner's
        behalf.</li>
        <li>Brand Name (in case of Trademark infringement).</li>
        <li>Details of the intellectual property being infringed (Provide copyrighted images or trademark
        certificates as attachments).</li></span>
      </div>
    </div>
    <div style="width:30%;float:right;padding-top:50px;">
      <div style="width:100%;height:25px;font-size:14px;color:#444546;font-weight:600;padding-left:15px;">Useful Links</div>
      <div style="width:100%;min-height:40px;color:#444546;border-left:1px solid #ccc;">
        <ul class="links-list">
          <li class="links-list active">FAQ's</li>
          <li class="links-list">My Orders</li>
          <li class="links-list">About Us</li>
          <li class="links-list">Privacy Policy</li>
          <li class="links-list">T&C</li>
          <li class="links-list">Return, Refund & Cancellation Policy</li>
          <li class="links-list">Shipping Policy</li>
          <li class="links-list">Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
