<div class="center-container">
  <div class="faq-header">
    <div class="faq-contact">
      <span style="font-weight:600;font-size:12px;color:#444546;">Need any Help?</span>
      <div class="faq-buttons">Contact us</div>
    </div>
    <span style="font-weight:600;font-size:21px;line-height:40px;">Returns, Refunds & Cancellations Policy</span>
  </div>
  <div style="width:100%;margin-top:10px;padding:0 20px;">
    <div style="width:70%;float:left;padding:15px 35px;">
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">Returns</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">ZIGFO TECHNOLOGY PRIVATE LIMITED does not accept returns if the product packaging has been
        tampered with, opened or if the products have been used. If however, the packaging is still intact
        and is in the same condition as it was when you received the product, you may contact us for a
        return. Note that you will have to return the order items within 3 day of receiving the products.
        Please keep in mind that we can only process a full refund of the order once it has reached us and
        we have examined the returned goods. It usually takes 2-7 working days for products to reach us.
        </span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">Refunds</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">Once your return is received and inspected, we will send you an email to notify you that we have
        received your returned item. We will also notify you of the approval or rejection of your refund.
        If you are approved, then your refund will be processed, and a credit will automatically be applied to
        your credit card or original method of payment, within a certain amount of days.
        Duration of Refund: The process of a refund generally takes 7-10 working days.
        Mode of Refund: Your refund will be made in form of a bank NEFT transfer directly into your bank
        account.
        Late or missing refunds: If you haven’t received a refund yet, first check your bank account again.
        Then contact your credit card company, it may take some time before your refund is officially
        posted. Next contact your bank. There is often some processing time before a refund is posted. If
        you’ve done all of this and you still have not received your refund yet, please contact us at
        info@zigfo.com.
        Note: Please also note that for any custom made garments we can’t take return and / or process for
        any refund.</span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">Cancellations</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">Please note that you can cancel your order within 24 hours of placing your order.
        Exceptions: If you have confirmed your order and cancel it after we have processed for
        customisation and manufacturing or / and sent it through one of our courier partners, it will be
        difficult for us to cancel the order. In such a case we will have to discuss processing a refund (if
        already paid) or cancelling the order only once we have received a return shipment of the products
        in your order.
        ZIGFO will cancel your order only under the following circumstances:
        <li>Product not available or out of stock: If a particular item in an order is not in stock and it is
        one that you want and we fail to provide an alternate option (such as bigger/smaller size of
        the same product or similar product) then we will cancel your order or have it altered to
        remove the unavailable item in the order. Note that if all the products in the order are out of
        stock or unavailable for sale, and if no alternatives are available, we will cancel your order
        and process a refund immediately (if paid already) and convey the same to you.
        Please note that an order once cancelled can be made again once stock is procured and we
        will be informing you about all possible ways, wait times and any other relevant information
        in order for you to get all the products in your order.</li>
        <li>No confirmation or any communication from customer for COD orders: ZIGFO team reserves
        a right to cancel orders that are COD for which we have received no confirmation. Once we
        get a COD order, we call the customer to confirm the same and if the customer has given a
        wrong number or we can't get through the customer despite trying their number & email a
        maximum of 3 times, we are left with no choice but to cancel the order.</li>
        <li>Location not serviceable: ZIGFO will cancel your order if your shipping address is not
        serviceable by any of our courier partners. Please note, that if you are an International
        customer, you ought to drop in an email at info@zigfo.com confirming whether we will be
        able to send you the items along with rough time estimates as to when it may reach you.</li>
        <li>Any other Reason: ZIGFO may need to cancel your order for other reasons depending on the
        circumstances and thus reserves the right to discretion as and when said unforeseeable
        circumstance happens.</li>
        <li>Sale items - Only regular priced items may be refunded, unfortunately sale items cannot be
        refunded.</li></span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;">Exchanges</span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;">We only replace items if they are defective or damaged. If you need to exchange it for the same
        item, send us an email at info@zigfo.com and send your item to: #301, SMR Vinay Endeavour, Hoodi
        Circle, Whitefield Road, Bangalore-560048, India.
        <li>Shipping - To return your product, you should mail your product to: #301, SMR Vinay
        Endeavour, Hoodi Circle, Whitefield Road, Bangalore-560048, Karnataka, India.</li>
        <li>You will be responsible for paying for your own shipping costs for returning your
        item. Shipping costs are non-refundable. If you receive a refund, the cost of return
        shipping will be deducted from your refund.</li>
        <li>Depending on where you live, the time it may take for your exchanged product to
        reach you, may vary.</li>
        <li>If you are shipping an item over Rs.2000/- you should consider using a trackable
        shipping service or purchasing shipping insurance. We don’t guarantee that we will
        receive your returned item.</li></span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;"></span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;"></span>
      </div>
      <div style="padding: 5px 0;">
        <span style="font-weight:600;font-size:11px;color:#5a5a5a;"></span>
        <span style="font-weight:400;font-size:10px;padding:0 5px;color:#a4a3a3;"></span>
      </div>
    </div>
    <div style="width:30%;float:right;padding-top:50px;">
      <div style="width:100%;height:25px;font-size:14px;color:#444546;font-weight:600;padding-left:15px;">Useful Links</div>
      <div style="width:100%;min-height:40px;color:#444546;border-left:1px solid #ccc;">
        <ul class="links-list">
          <li class="links-list active">FAQ's</li>
          <li class="links-list">My Orders</li>
          <li class="links-list">About Us</li>
          <li class="links-list">Privacy Policy</li>
          <li class="links-list">T&C</li>
          <li class="links-list">Return, Refund & Cancellation Policy</li>
          <li class="links-list">Shipping Policy</li>
          <li class="links-list">Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
