.fold-menu {
  margin: 0 0 1em;
  padding: 0 0 0 .5em;
  list-style: none;
  font-size: 1rem;
  line-height: 1.2;
}
.fold-menu li {
  margin-bottom: 0.3125em;
}
.fold-menu li ul {
  margin-top: 0.34722222em;
}
.fold-menu ul {
  display: none;
  padding-left: 1.5em;
  list-style: none;
  font-size: .9rem;
}
.fold-menu a {
  text-decoration: none;
  color: #f900aa;
}
.fold-menu .dir {
  font-weight: bold;
  color: #00bbff;
}
.fold-menu .dir:after {
  content: " +";
  font-size: 80%;
}
.fold-menu .dir.hide:after {
  content: " -";
}
