.footer-container{
  width:25%;
  float:left;
  height:100%;
  border-left:1px solid #ddd;
}
.footerIcon-container{
  width:100%;
  height:100px;
  text-align:center;
  line-height:100px;
}
.footerHeader-container{
  width:100%;
  height:30px;
  text-align:center;
  color:#5a5a5a;
  font-weight:400;
  font-size:18px;
  line-height:30px;
}
.footerDesc-container{
  width:100%;
  height:70px;
  text-align:center;
  font-size:12px;
  line-height:20px;
  padding:0 15%;
  color:#a4a3a3;
}
.securePayment{
    width: 60px;
    height: 51px;
    background-position: -366px -63px;
}
.trustPay{
    width: 48px;
    height: 51px;
    background-position: -420px -63px;
}
.helpCenter{
    width: 54px;
    height: 51px;
    background-position: -467px -63px;
}
.shopontheGo{
    width: 38px;
    height: 51px;
    background-position: -520px -63px;
}
.footerIcon{
  background-image: url("/img/allicons.png");
  display: inline-block;
  vertical-align: middle;
}
.downloadApp1Icon{
    width: 130px;
    height: 41px;
    vertical-align: top;
    background-position: 0px -153px;
}
.downloadApp2Icon{
    width: 130px;
    height: 41px;
    vertical-align: top;
    background-position: -127px -153px;
}
.downloadApp3Icon {
    width: 130px;
    height: 41px;
    vertical-align: top;
    background-position: 0px -196px;
}
.originalityIcon{
  width: 88px;
height: 91px;
background-position: -277px -47px;
margin-top: 20px;
}
.visaPayment{
  width: 44px;
    height: 31px;
    background-position: -48px -6px;
    margin: 0 10px;
}
.mastercardPayment{
  width: 42px;
    height: 34px;
    background-position: -4px -4px;
    margin: 0 10px;
}
.cashondelivery{
  width: 63px;
height: 35px;
background-position: -189px -117px;
margin: 0 10px;
}
.netbanking{
  width: 68px;
    height: 35px;
    background-position: -120px -117px;
    margin: 0 10px;
}
.facebook{
  width: 19px;
    height: 28px;
    background-position: -5px -35px;
    margin: 0 10px;
}
.twitter{
  width: 29px;
    height: 28px;
    background-position: -25px -35px;
    margin: 0 10px;
}
.google{
  width: 29px;
height: 28px;
background-position: -56px -35px;
margin: 0 10px;
}
.youtube{
  width: 29px;
    height: 28px;
    background-position: -86px -35px;
    margin: 0 10px;
}
.instagram{
  width: 29px;
    height: 28px;
    background-position: -116px -35px;
    margin: 0 10px;
}
.pintereset{
  width: 28px;
    height: 28px;
    background-position: -145px -35px;
    margin: 0 10px;
}
