.zig-desktop-container{
    color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
}
.img-overlay {
   position: absolute;
   top: 170px;
   left: 30px;
   width: 100%;
}
.img-overlay span.heading {
   color: white;
   font: 'Open Sans', sans-serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   line-height: 50px;
   font-weight: 400;
   font-size:20px;
   opacity: 0.3;
}
.img-overlay span.description {
   color: white;
   font:'Open Sans', sans-serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   font-size: 14px;
   opacity: 0.3;
   font-weight: 400;
   line-height: 50px;
}
.img-overlay span.link {
   color: white;
   font:'Open Sans', sans-serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   font-size: 14px;
   opacity: 0.9;
   font-weight: 400;
   line-height: 70px;
   text-align: right;
   margin-left: 20px;
}
.zig-header-container{
  max-width:980px;
  margin:0 auto;
  height:25px;
  text-align: right;
}
.zig-nav-container{
  max-width: 980px;
  margin: 0 auto;
  height: 104 - 25px;
}
.zig-header-links{
  cursor: pointer;
  color: #282c3f;
  font-size: 11px;
  font-weight: 400;
  padding: 0 7px;
  float: right;
  line-height: 25px;
}
.zig-header-divider{
  padding: 0 7px;
  color: #282c3f;
  font-size: 11px;
  font-weight: 400;
  float: right;
  line-height: 23px;
}
.zig-header-label{
  margin-left: 7px;
  line-height: 20px;
  border: 1px solid #ee5f73!important;
  color: #ee5f73!important;
  font-weight: 400;
  padding: 0 7px;
  border-radius: 20px;
  font-size: 10px;
}
.zig-nav-logo{
  float: left;
  width: 120px;
  margin-left: 22px;
  height: 80px;
}
.zig-nav-menu{
  display: block;
  float: left;
  line-height: 80px;
  width: 330px;
  height: 80px;
  margin: 0 0 0 25px;
}
.zig-nav-menuitems{
  width: 100%;
  height: 80px;
}
.zig-nav-menuitem1,
.zig-nav-menuitem2,
.zig-nav-menuitem3{
  padding: 0 20px;
  line-height: 76px;
  cursor: pointer;
  float: left;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #282c3f;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
.zig-nav-menuitem1:hover,
.zig-nav-menuitem2:hover,
.zig-nav-menuitem3:hover{
  border-bottom-style: solid;
  border-bottom-width: 4px;
  -webkit-transition: left .2s ease-out,border-color .5s ease-in;
  transition-property: left, width;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: initial, initial;
  border-bottom-color: rgb(238, 95, 115);
}
.zig-nav-list1,
.zig-nav-list2,
.zig-nav-list3{
  width:100%;
  top: 104px;
  left:0;
  position: absolute;
  padding: 25px;
  z-index: 3;
  box-shadow: 0 1px 10px rgba(0,0,0,.08);
  -webkit-transition: opacity .2s ease-out,visibility .2s ease-out;
  transition: opacity .2s ease-out,visibility .2s ease-out;
  background-color: #fff;
  color: #3e4152;
  border: 1px solid #f5f5f6;
  visibility: hidden;
  opacity: 0;
}
.zig-nav-menuitem1
.zig-nav-list1{
  display: none;
  opacity: 0;
}
.zig-nav-menuitem2
.zig-nav-list2{
  display: none;
  opacity: 0;
}
.zig-nav-menuitem3
.zig-nav-list3{
  display: none;
  opacity: 0;
}
.zig-nav-list-item{
  color:#3e4152;line-height:25px;text-align:left;
}
.zig-nav-list-item:hover
.zig-nav-list-item-label{
  text-decoration: underline;
}
.zig-nav-list-item
.coming-soon{
  color:rgb(242, 106, 16) !important;border:1px solid rgb(242, 106, 16) !important;
  text-decoration: none !important;
}
.zig-nav-list-item:hover
.coming-soon{
  text-decoration: none !important;
}
.zig-nav-menuitem1:hover
.zig-nav-list1{
  display: block;
  visibility: visible;
  opacity: 1;
}
.zig-nav-menuitem2:hover
.zig-nav-list2{
  display: block;
  visibility: visible;
  opacity: 1;
}
.zig-nav-menuitem3:hover
.zig-nav-list3{
  display: block;
  visibility: visible;
  opacity: 1;
}
.zig-nav-search{
  width: 300px;
  float: left;
  line-height: 0;
  margin: 20px 0 20px 10px;
}
.zig-query{
    display: inline-block !important;
    float: left !important;
    font-size: 16px !important;
    height: 20px !important;
    line-height: 24px !important;
    width: 235px !important;
    color: #696e79 !important;
    box-sizing: content-box !important;
    padding: 8px 10px 10px !important;
    margin: 0 !important;
    outline: 0 !important;
    border: 1px solid #d5d6d9 !important;
    border-radius: 4px 0 0 4px !important;
    border-right: 0 !important;
    background: #f5f5f6 !important;
}
.zig-query:focus{
  border-bottom: 1px solid #d5d6d9 !important;
    box-shadow: none !important;
}
.zig-query-submit{
    box-sizing: content-box !important;
    height: 31px !important;
    width: 40px !important;
    text-align: center !important;
    padding: 7px 0 0 !important;
    background: #f5f5f6 !important;
    border: 1px solid #d4d5d9 !important;
    border-left: none !important;
    border-radius: 0 4px 4px 0 !important;
    float: left;
    color: #282c3f !important;
}
.zig-nav-actions{
  float: right;
  margin-left: 10px;
  line-height: 0;
  height: 60px;
  margin-top: 20px;
}
.zig-action-user{
  padding: 0 7px 0 7px;
  // border-left: 1px solid #eaeaec;
  // border-right: 1px solid #eaeaec;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3e4152 !important;
  float: left;
  cursor: pointer;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  height: 100%;
  // height: 60px;
  // line-height: 60px;
}
.zig-action-cart{
  margin: 0 0 0 15px;
  text-decoration: none;
  color: #3e4152 !important;
  float: left;
  cursor: pointer;
}
.zig-userActions{
  width: 275px;
  left: -137.5px;
  top: 60px;
  position: absolute;
  padding: 25px;
  z-index: 3;
  box-shadow: 0 1px 10px rgba(0,0,0,.08);
  -webkit-transition: opacity .2s ease-out,visibility .2s ease-out;
  transition: opacity .2s ease-out,visibility .2s ease-out;
  background-color: #fff;
  color: #3e4152;
  border: 1px solid #f5f5f6;
  visibility: hidden;
  opacity: 0;
  margin: -2px 0;
}
.zig-userActions-section1,
.zig-userActions-section2,
.zig-userActions-section3{
  border-bottom: 1px solid #eaeaec;
  padding-bottom: 7px;
}
.zig-userActions-section4{
  color: #7e818c !important;
}
.zig-userActions-email{
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}
.zig-userActions-mobile{
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
}
.zig-userActions-item{
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.zig-userActions-arrow{
  display: block;
  top: -5px;
  position: absolute;
  width: 58px;
  border-bottom: 4px solid #ee5f73;
  left: 135.5px;
}
.zig-userActions-content{
  width:100%;
  height: auto;
}
.zig-action-user
.zig-userActions{
  display: none !important;
}
.zig-action-user:hover
.zig-userActions{
  display: block !important;
  opacity: 1 !important;
  visibility: visible;
}
.zig-user-btn{
  display: inline-block;
  padding: 20px 0;
  width: 45%;
  margin: 10px 10px 0 0;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: #526cd0;
  font-weight: 600;
  float: left;
}
input::-webkit-input-placeholder {
   color: #666 !important;
   padding-left: 5px;
   font-weight: 300;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
}
.desktop-melon {
    background-color: #ee5f73;
}
.desktop-badge {
    // margin: 0 0 0 7px;
    top: 0px;
    left: 5px;
    font-size: 16px;
    font-weight:400;
    white-space: nowrap;
    text-align: center;
    line-height: 1.2;
    padding: 0 5px 0 6px;
    height: 18px;
    background: #ee5f73;
    position: relative;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}
.desktop-badge:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 4px;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #ee5f73;
    border-bottom: 5px solid transparent;
}
