@import "components";
html,body{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
  background-color: #fff !important;
}
input[type="reset"][disabled], input[type="submit"][disabled], html input[type="button"][disabled], button[disabled]{
  background-color: #ccc !important;
 }
.angular-google-map-container { height: 400px; }
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
  background-color: #ff527b !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
  border: 2px solid #ff527b !important;
}

input[type="reset"][disabled], input[type="submit"][disabled], html input[type="button"][disabled], button[disabled]{
  background-color: #ff527b !important;
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
  padding-left: 30px;
}
